.portfolio-sidebar-list-wrapper{
    background-color: $darkred;
    .portfolio-item-thumb {
        padding: 21px;

        .portfolio-thumb-img img {
            width: 100%;
        }


        .title {
            color: $offwhite;
        }

    }
}